body {
  background-color: #000000;
}

h1 {
  color: White;
  text-align: center;
  position:absolute;
  left:500px;
  top:75px;
  width:auto;
  height:210px;
  font-family: cursive;
}

#catButton1{
  position: absolute;
  left:0px;
  top:50px;
  width:210px;
  height:210px;
}

#catButton2{
  position: absolute;
  left:0px;
  top: 75px;
  width:210px;
  height:210px;
}
