body{
  background-color: #440044;
}
#p1{
  color: white;
  font-family: fantasy;
  position: relative;
  top:100px;
  text-align: center;
}
#p2{
  position: relative;
  text-align: center;
  top: 100px;
}
